.top-section {
    background-color: #EDF7FF;
    background-image: url('../images/world.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 50px 5% !important;
    width: 100% !important;
    max-width: 100% !important;
}

.second-section {
    padding: 50px 5% !important;
    width: 100% !important;
    max-width: 100% !important;
}