.stock-section {
    padding: 50px 5% !important;
    width: 100% !important;
    max-width: 100% !important;
}

.second-section {
    padding: 50px 5% !important;
    width: 100% !important;
    max-width: 100% !important;
}