body {
  margin: 0;
  font-family: 'Ubuntu' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1B1C1E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
  color:  #95cefc !important;
}

.primary-color {
  color:  #008CFE;
}

.secondary-color {
  color:  #1B1C1E;
}

.fontLight {
  font-weight: 300 !important;
}

.fontNormal {
  font-weight: 400 !important;
}

.fontMedium {
  font-weight: 500 !important;
}

.fontBold {
  font-weight: 700 !important;
}

p {
  font-size: 17px;
}

h1 {
  font-size: 55px !important;
}

h2 {
  font-size: 42px !important;
}

h3 {
  font-size: 32px !important;
}

h4 {
  font-size: 30px !important;
}

h5 {
  font-size: 18px !important;
}

.primary-btn-white {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 10px 40px;
  color: #008CFE;
  transition: all .20s ease-in;
  border: none;
}

.primary-btn-white:hover {
  background-color: #008CFE;
  border-radius: 30px;
  padding: 10px 40px;
  color: #FFFFFF;
  transition: all .20s ease-in;
  border: none;
}

.primary-btn-1 {
  background-color: #008CFE;
  border-radius: 10px;
  padding: 10px 40px;
  color: #FFFFFF;
  transition: all .20s ease-in;
  border: none;
}

.primary-btn-1:hover {
  background-color: #D5E6FF;
  border-radius: 10px;
  padding: 10px 40px;
  color: #008CFE;
  transition: all .20s ease-in;
  border: none;
}

.primary-btn {
  background-color: #008CFE;
  border-radius: 30px;
  padding: 10px 40px;
  color: #FFFFFF;
  transition: all .20s ease-in;
  border: none;
}

.primary-btn:hover {
  background-color: #D5E6FF;
  border-radius: 30px;
  padding: 10px 40px;
  color: #008CFE;
  transition: all .20s ease-in;
  border: none;
}

.secondary-btn {
  background-color: #052B61;
  border-radius: 30px;
  padding: 10px 40px;
  color: #FFFFFF;
  transition: all .20s ease-in;
  border: none;
}

.secondary-btn:hover {
  background-color: #008CFE;
  border-radius: 30px;
  padding: 10px 40px;
  color: #FFFFFF;
  transition: all .20s ease-in;
  border: none;
}

.outline-primary-btn {
  background-color: #008CFE1A;
  border-radius: 30px;
  padding: 10px 40px;
  color: #008CFE;
  transition: all .20s ease-in;
  border: none;
}

.outline-primary-btn:hover {
  background-color: #008CFE;
  border-radius: 30px;
  padding: 10px 40px;
  color: #D5E6FF;
  transition: all .20s ease-in;
  border: none;
}

